*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: rgb(0,0,0);
}
.content-g{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.rest-cnt{
	width: 90%;
	max-width: 1000px;
	height: 100%;
}
.header{
	width: 100%;
	height: 60vh;
	position: relative;
	overflow: hidden;
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.65) 35%, rgba(0,0,0,1) 90%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.header img{
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 2;
}
.header video{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
}
.header h1{
	width: 80%;
	height: auto;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #ffcc00;
	color: #fff;
	font-size: 3em;
	text-align: center;
	font-weight: 300;
	text-shadow: 2px 0 10px rgba(51,51,51,.34);
	margin-bottom: .6em;
	font-family: "Goldman", sans-serif;
	z-index: 2;
}
.menu{
	width: auto;
	height: auto;
	display: flex;
	z-index: 2;
}
.op{
	color: #fff;
	font-family: 'Goldman', cursive;
	padding: 14px;
}
.st{
	border-bottom: 3px solid #ffcc00;
}
.content{
	display: flex;
}
.cnt-1{
	width: 35%;
	height: 600px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.cnt{
	width: 100%;
	height: 25%;
	content: '';
	display: flex;
	padding-top: 10px;
}
.img-f{
	width: 35%;
	height: 100%;
	overflow: hidden;
	border-top: 3px solid #ffcc00;
	border-left: 3px solid #ffcc00;
	border-bottom: 3px solid #ffcc00;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.img-f img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.cnt-img{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 3px solid #ffcc00;
	padding: 20px;
}
.cnt-img a, .cnt-img p{
	font-family: "Goldman", sans-serif;
	color: #fff;
	text-decoration: none;
}
.cnt-2{
	width: 65%;
	height: 600px;
	content: '';
}
.cnt-2-1{
	width: 100%;
	height: 65%;
}
.cnt-2-1 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.cnt-2-2{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 35%;
	padding-top: 10px;
}
.cnt-2-2-1{
	width: 47%;
	height: 100%;
	padding: 10px;
	position: relative;
}
.cnt-2-2-1 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.cnt-2-2-2{
	width: 47%;
	height: 100%;
	padding: 10px;
	position: relative;
}
.cnt-2-2-2 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.cnt-2-2-2 p, .cnt-2-2-1 p{
	background: rgba(0,0,0,0.65);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	color: #fff;
	font-family: "Goldman",sans-serif;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}
.footer{
	width: 90%;
	max-width: 1000px;
	height: 350px;
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-top: 3px solid #ffcc00;
}
.logo{
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.fuentes{
	width: 100%;
	height: 60%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
	border: 3px solid #ffcc00;
}
.fuen{
	color: #fff;
	font-family: "Goldman", sans-serif;
	padding: 14px;
	text-align: center;
}
.web{
	color: #ffcc00;
}

@media (min-width: 1201px) and (max-width: 1600px){


}
@media (min-width: 1025px) and (max-width: 1200px){

	
}
@media (min-width: 841px) and (max-width: 1024px){

	
}
@media (min-width: 769px) and (max-width: 840px){
	.cnt-1, .cnt-2{
		width: 50%;
	}
}
@media (min-width: 601px) and (max-width: 768px){
	.cnt-1, .cnt-2{
		width: 50%;
	}
}
@media (min-width: 481px) and (max-width: 600px){
	.header{
		width: 100%;
		height: 100vh;
		background: rgb(0,0,0);
		background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.9) 90%);
	}
	.header img{
		width: 50%;
		height: auto;

	}
	.header h1{
		width: auto;
		height: auto;
		padding: 10px;
		font: 120%/135% "Goldman", sans-serif;
		text-align: center;
	}
	.header video{
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	.menu .op{
		font: 78%/135% "Goldman", sans-serif;
	}
	.content{
		display: flex;
		flex-direction: column-reverse;
	}
	.cnt-1{
		width: 100%;
	}
	.cnt{
		width: 100%;
	}
	.cnt-img{
		width: 65%;
	}
	.cnt-img p, .cnt-img a{
		font: 78%/135% "Goldman", sans-serif;
	}
	.cnt-2{
		width: 100%;
	}
	.cnt-2-1{
		width: 100%;
	}
	.cnt-2-1 img{
		width: 100%;
	}
	.footer{
		height: 100vh;
	}
	.logo img{
		width: 50%;
		height: auto;
	}
	.fuentes{
		display: flex;
		flex-direction: column;
		height: auto;
		margin-bottom: 20px;
	}
}
@media (min-width: 321px) and (max-width: 480px){
	.header{
		width: 100%;
		height: 100vh;
		background: rgb(0,0,0);
		background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.9) 90%);
	}
	.header img{
		width: 50%;
		height: auto;

	}
	.header h1{
		width: auto;
		height: auto;
		padding: 10px;
		font: 120%/135% "Goldman", sans-serif;
		text-align: center;
	}
	.header video{
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	.menu .op{
		font: 78%/135% "Goldman", sans-serif;
	}
	.content{
		display: flex;
		flex-direction: column-reverse;
	}
	.cnt-1{
		width: 100%;

	}
	.cnt-img{
		width: 65%;
	}
	.cnt-img p, .cnt-img a{
		font: 78%/135% "Goldman", sans-serif;
	}
	.cnt-2{
		width: 100%;
	}
	.cnt-2-1{
		width: 100%;
	}
	.cnt-2-1 img{
		width: 100%;
	}
	.footer{
		height: 100vh;
	}
	.logo img{
		width: 50%;
		height: auto;
	}
	.fuentes{
		display: flex;
		flex-direction: column;
		height: auto;
		margin-bottom: 20px;
	}
}
@media (max-width: 320px){
	.header{
		width: 100%;
		height: 100vh;
		background: rgb(0,0,0);
		background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.9) 90%);
	}
	.header img{
		width: 50%;
		height: auto;

	}
	.header h1{
		width: auto;
		height: auto;
		padding: 10px;
		font: 120%/135% "Goldman", sans-serif;
		text-align: center;
	}
	.header video{
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	.menu .op{
		font: 78%/135% "Goldman", sans-serif;
	}
	.content{
		display: flex;
		flex-direction: column-reverse;
	}
	.cnt-1{
		width: 100%;

	}
	.cnt-img{
		width: 65%;
	}
	.cnt-img p, .cnt-img a{
		font: 78%/135% "Goldman", sans-serif;
	}
	.cnt-2{
		width: 100%;
	}
	.cnt-2-1{
		width: 100%;
	}
	.cnt-2-1 img{
		width: 100%;
	}
	.footer{
		height: 100vh;
	}
	.logo img{
		width: 50%;
		height: auto;
	}
	.fuentes{
		display: flex;
		flex-direction: column;
		height: auto;
		margin-bottom: 20px;
	}
}